#my-map {
  width: 100%;
  height: 500px;
}

#tooltip {
  position: absolute;
  display: none; /* Change from opacity to display */
  background-color: rgba(113, 197, 179, 0.8);
  box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 10px;
  z-index: 1000;
  color: rgba(12, 11, 11, 0.994);
}
.tooltip-label {
  font-weight: 400;
  font-size: 18px;
  color: #111111;

}
.tooltip-label img {
  vertical-align: middle; 
  margin-right: 8px; 
  width: 20px; 
  height: 20px; 
}
.bold-label {
  font-weight: 800; 
}


#level3 {
  width: 40%;
 /* border: 1px solid red;*/
  margin-top: 50px; /* Push it down by 50px */

  /* Ensure it's above other elements */

}
#attribute-select {
  display: block;
  margin: 0 auto;
}

.drag-arrow{
  transform: scaleX(0.2)scaleY(3);
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 25px;
  position: absolute;
  top: -3.5px;
  left: -5.5px;
  user-select: none;
}

.basemap-select {
  position: absolute;
  /* top: 10px;
  right: 10px; */
  padding: 5px;
  z-index: 1000;
  align-items: end;
}

/* menu bar */
.menu-btn {
  position: absolute;
  top: 10px;
  right: 10px;  
  font-size: 30px;
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  z-index: 1001;
}

#menusidebar {
  position: fixed;
  top: 0;
  right: -250px; 
  width: 250px;
  height: 500px;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  padding-top: 20px;
  z-index: 4000;
}

#menusidebar.open {
  right: 0; 
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  background: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  z-index: 1001;
}

.dropdown-container {
  margin-top: 25px; 
  padding: 0 20px;
}

.dropdown-label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
/* */

/* Make sure it's not affected by floating elements */
button#toggleSidebar {
  float: none !important; 
  /* display: block;  */
  text-align: right;
}

/* Sidebar styling */
#sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 500px;
  background: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index: 999;
}

/* Show sidebar */
#sidebar.open {
  left: 0;
}

/* Vertical slider container */
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 300px;
  width: 50px;
  margin: auto;
}

/* Vertical slider */
input[type="range"] {
  writing-mode: vertical-lr; /* Makes the slider vertical */
  appearance: none;
  height: 300px;
  width: 10px;
  background: transparent;
  position: relative;
  z-index: 3;
}

/* Slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #ccc;
  height: 100%;
  width: 6px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-track {
  background: #ccc;
  height: 100%;
  width: 6px;
  border-radius: 3px;
}

/* Slider thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  margin-left: -6px;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

/* Tick marks container */
.tickmarks {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

/* Tick mark line */
.tickmarks span {
  width: 8px;
  height: 2px;
  background: gray;
}

/* Bigger tick marks at whole numbers */
.tickmarks span.big {
  width: 12px;
  height: 3px;
  background: black;
}

/* Tick labels */
.tickmarks span.big::after {
  content: attr(data-value);
  position: absolute;
  left: 15px;
  font-size: 12px;
  color: black;
}

/* Styling for the tabs */
.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.tab {
  padding: 10px;
  cursor: pointer;
  background-color: #f1f1f1;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.tab.active {
  background-color: #ddd;
  font-weight: bold;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
}

#loading-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  text-align: center;
  padding-top: 20%;
}

.loading-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  text-align: center;
  padding-top: 20%;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4caf50;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-bottom: 20px;
}

.progress-bar-container {
  width: 50%;
  margin: 0 auto;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0%;
  height: 20px;
  background: #4caf50;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  transition: none; /* Remove transition for immediate updates */
}

.progress-bar {
  width: 0;
  height: 20px;
  background: #4caf50;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-2px) translateY(-2px) rotate(-1deg); }
  20% { transform: translateX(2px) translateY(2px) rotate(1deg); }
  30% { transform: translateX(-4px) translateY(-4px) rotate(-2deg); }
  40% { transform: translateX(4px) translateY(4px) rotate(2deg); }
  50% { transform: translateX(0); }
  60% { transform: translateX(-2px) translateY(-2px) rotate(-1deg); }
  70% { transform: translateX(2px) translateY(2px) rotate(1deg); }
  80% { transform: translateX(-4px) translateY(-4px) rotate(-2deg); }
  90% { transform: translateX(4px) translateY(4px) rotate(2deg); }
  100% { transform: translateX(0); }
}

#my-map.shake {
  animation: shake 1s infinite; /* Adjust duration and iterations as needed */
}

#level3.shake{
  animation: shake 1s infinite;
}

#toggleSidebar.shake{
  animation: shake 1s infinite;
}

input[type="text"]::-webkit-slider-runnable-track {
  background: none; 
}

input[type="text"]::-moz-range-track {
  background: none; 
}

/* Slider thumb */
input[type="text"]::-webkit-slider-thumb {
  background: none; 
}

input[type="text"]::-moz-range-thumb {
  background: none; 
}

#menusidebar.open ~ .menu-btn {
  display: none;
}

.github-source {
  position: absolute;
  bottom: 60px;
  left: 20px;
  font-size: 14px;
  color: #555;
  font-weight: 600;
}
.data-source {
  position: absolute;
  bottom: 40px;
  left: 20px;
  font-size: 14px;
  color: #555;
  font-weight: 600;
}
.map-source {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: #555;
  font-weight: 600;
}

#legend {
  position: absolute;
  top:320px;
  right:20px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index:2500;
}
